<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a guest"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !guest" message="Guest Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="guest && privilege.showOne">
  <app-page-header
    title="Guest Detail Page of {{ guest.code + '-' + guest.nametitle.name + ' ' + guest.callingname }}"
    [breadcrumbSegments]="['Guests', 'Show All Guests', 'Details of ' + guest.code]">
  </app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <img mat-card-image *ngIf="!photo" src="assets/user.jpg">
        <img mat-card-image *ngIf="photo" src="{{photo}}">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{guest.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{guest.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(guest.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{guest.code}}</td>
              </tr>
              <tr>
                <th>Calling Name</th>
                <td>{{guest.nametitle.name}}.  {{guest.callingname}}</td>
              </tr>
              <tr>
                <th>Full Name</th>
                <td>{{guest.fullname}}</td>
              </tr>
              <tr *ngIf="guest.civilstatus">
                <th>Civil status</th>
                <td>{{guest.civilstatus.name}}</td>
              </tr>
              <tr>
                <th>Date Of Birth</th>
                <td>{{guest.dobirth | date: 'fullDate'}}</td>
              </tr>
              <tr>
                <th>Gender</th>
                <td>{{guest.gender.name}}</td>
              </tr>
              <tr>
                <th>NIC Number</th>
                <td>{{guest.nic}}</td>
              </tr>
              <tr>
                <th>Contacts</th>
                <td>{{guest.mobile}}<span *ngIf="guest.land">, &nbsp;&nbsp;</span>{{guest.land}}</td>
              </tr>
              <tr>
                <th>Email Address</th>
                <td><span *ngIf="!guest.email">&#x2013;</span>{{guest.email}}</td>
              </tr>
              <tr>
                <th>Address</th>
                <td [innerHTML]="guest.address | nl2br"></td>
              </tr>
              <tr>
                <th>Designation</th>
                <td>{{guest.designation.name}}</td>
              </tr>
              <tr *ngIf="guest.dorecruit">
                <th>Date Of Recruit</th>
                <td>{{guest.dorecruit | date: 'fullDate'}}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{guest.gueststatus.name}}</td>
              </tr>
              <tr *ngIf="guest.description">
                <th>Description</th>
                <td [innerHTML]="guest.description | nl2br"></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/guests/edit/{{guest.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/guests/add" mat-stroked-button><mat-icon>add</mat-icon> New Guest</button>
    <button *ngIf="privilege.showAll" routerLink="/guests" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Guests</button>
  </div>
</div>
